@font-face {
    font-family: myriad;
    src: url('fonts/myriad-set-pro_thin.ttf');
}





* {
    font-family: myriad;
    font-size: 15px;
    text-align: center;
}
body {
    background-color: #ccc;
    background: linear-gradient(90deg, #aaa, #eee 40%, #aaa);
    overflow-y: scroll;
}
h1 {
    opacity: 0.7;
}
#mainTutorial .row:last-of-type, #slideGame .row:last-of-type {
    margin-top: 4em;
}
.guideImage {
    width: 90%;
    border: 5px solid  #ff9999;
    outline: 5px solid  #aaffaa;
    box-shadow: 2px 6px 20px #444;
    margin: 0 3em 3em 3em;
}
.arrow {
    margin-left: 1em;
    font-size: 80%;
    color: grey;
}



/********************************/
.outlined {
    border: 1px solid darkgrey;
    border-radius: 10px;
}
input[name=age] {
    display: inline-block;
    margin-left: 1.3em;
    width: 80px;
}
input[name=start]{
    margin-top: 3em;
    margin-bottom: 1em;
}



/********************************/
#owl {
    height: 50px;
    width: auto;
}
#message {
    background-color: black;
    opacity: 0.7;
    color: white;
    margin-top: 1em;
    padding: 0.2em 1em 0.2em 1em;
    border-radius: 4px;
    font-size: smaller;
    box-shadow: 2px 2px 4px #777;
}
#countdown {
    opacity: 0.3;
}
#countdown, #stars {
    height: 90px;
    margin: 0;
}
@keyframes fall-in {
    0%   { transform: scale(10,10); }
    100% { transform: scale(1,1); }
}
.fall-in {
    animation-name: fall-in;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
}
#stars {
    z-index: 1;
}
#stars .star {
    height: 60px;
    width: auto;
}
#helpContainer {
    margin-right: 12em;
}
#questionmark {
    position: relative;
    top: 2px;
    left: 7px;
    color: #cccccc;
    cursor: pointer;
}
#helpText {
    color: grey;
    position: absolute;
    left: 70px;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 2px 2px 4px #777;
    background-color: whitesmoke;
    z-index: 1;
    margin-right: 2em;
}
.clicked {
    color: whitesmoke !important;
}





/********************************/
#picture, #gameCanvas {
    box-shadow: 2px 2px 7px #777;
    transition: opacity 0.5s;
    /* canvas gets resized to match picture via JS */
}
#picture, #scoreText {
    max-height: 300px;
    max-width: 500px;
    float: right;
}
#scoreText {
    padding-right: 2em;
    padding-top: 5em;
    text-align: right;
}
#scoreText .scoreYour {
    font-size: 3em;
}
#scoreText .scoreWorse {
    font-size: 1.7em;
    opacity: 0.92;
}
#scoreText .scoreBetter {
    font-size: 1.4em;
    opacity: 0.6;
}
#gameCanvasContainer {
    float: left;
}




/********************************/
input[type=submit], input[name=faster] {
    font-weight: bold;
}
input[name=again] {
    font-weight: bold !important;
}





/********************************/
footer {
    margin-top: 4em;
}
#thanks {
    margin-top: 1em;
}
#logo {
    height: 40px;
    width: auto;
}










/* hacks *********************************************************/
.tooltip-inner {
    /* override default bootstrap tooltip color */
    background-color: #1a1a1a;
    font-size: 13px;
    line-height: 15px;
    padding: 1em 1em 1em 1em;
}
.fade {
    /* override default bootstrap tooltip fade-in transition time
    ater it gets switch to invisible (not .in) it will transition to opacity 0 in 1s*/
    transition: opacity 1s;
}
.fade.in {
    /* override default bootstrap tooltip fade-in transition time
    ater it gets switch to shown(.in) it will transition to opacity 1 in 0s */
    transition: opacity 0s;
}
.tooltip-arrow {
    /* correct the 1px gap between arrow and bubble of tooltip */
    top: 1px !important;
}


.huebee__container {
    background-color: #3a3a3a;
}




/* dynamic classes ************************************************/
.hidden {
    display: none;
}
.seethrough {
    opacity: 0.0;
}
